{% extends 'base.html.twig' %}

{% block title %}Song index{% endblock %}

{% block body %}
    <h1>Song index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Preview</th>
                <th>TrackNb</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.duration }}</td>
                <td>{{ song.preview }}</td>
                <td>{{ song.trackNb }}</td>
                <td>
                    <a href="{{ path('app_back_song_show', {'id': song.id}) }}">show</a>
                    <a href="{{ path('app_back_song_edit', {'id': song.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_song_new') }}">Create new</a>
{% endblock %}
