{% extends 'base.html.twig' %}

{% block title %}Liste musique{% endblock %}

{% block body %}
        <div class= text-aligne-between>
            <h1>Liste des musiques</h1>
            <a class="btn btn-success me-2" style= "justify-content-end" href="{{ path('app_back_song_new') }}">Créer</a>
        </div>

        <div class="d-flex justify-content-end">
            <form method="get" action="{{ path('app_back_song_index') }}">
                <div class="form-group">
                    <label for="order">Trier par :</label>
                    <select id="order" name="order">
                        <option value="ttlASC" {% if order == 'title' %}selected{% endif %}>Nom (A-Z)</option>
                        <option value="ttlDESC" {% if order == 'title' %}selected{% endif %}>Nom (Z-A)</option>

                        <option value="tNbASC" {% if order == 'trackNb' %}selected{% endif %}>Piste (1-9)</option>
                        <option value="tNbDESC" {% if order == 'trackNb' %}selected{% endif %}>Piste (9-1)</option>

                        <option value="drtASC" {% if order == 'duration' %}selected{% endif %}>Durée (plus longue)</option>
                        <option value="drtDESC" {% if order == 'duration' %}selected{% endif %}>Durée (plus courte)</option>
                    </select>
                    <button class="btn-primary me-2" type="submit">Trier</button>
                </div>
            </form>
        </div>
        
    <table class="table">
        <thead>
            <tr>
                <th>N° de piste</th>
                <th>Titre</th>
                <th>Durée</th>
                <th>Ecoute</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.trackNb }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.duration }}</td>
                <td>{{ song.preview }}</td>
                <td>
                    <a class="btn btn-info me-1" href="{{ path('app_back_song_show', {'id': song.id}) }}">voir plus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune musique de disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(songs) }}
        </div>
{% endblock %}
