{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block body %}
    <h1>Song</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ song.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ song.title }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ song.duration }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td>{{ song.preview }}</td>
            </tr>
            <tr>
                <th>TrackNb</th>
                <td>{{ song.trackNb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_song_index') }}">back to list</a>

    <a href="{{ path('app_back_song_edit', {'id': song.id}) }}">edit</a>

    {{ include('back/song/_delete_form.html.twig') }}
{% endblock %}
