{% extends 'base.html.twig' %}

{% block title %}Liste des Albums{% endblock %}

{% block body %}
    <h1>Liste des albums</h1>
    <a class="btn btn-success me-2" href="{{ path('app_back_album_new') }}">Créer</a>

<div class="d-flex justify-content-end">
    <form method="get" action="{{ path('app_back_album_index') }}" class="form-inline">
        <div class="d-flex">
            <div class="form-group mr-2">
                <label for="order">Trier par :</label>
                <select id="order" name="order" class="form-control">
                    <option value="nameASC" {% if order == 'nameASC' %}selected{% endif %}>Nom (A-Z)</option>
                    <option value="nameDESC" {% if order == 'nameDESC' %}selected{% endif %}>Nom (Z-A)</option>
                    <option value="relDateDESC" {% if order == 'relDateDESC' %}selected{% endif %}>Sortie plus récente</option>
                    <option value="relDateASC" {% if order == 'relDateASC' %}selected{% endif %}>Sortie moins récente</option>
                    <option value="creatAtDESC" {% if order == 'creatAtDESC' %}selected{% endif %}>Publié plus récent</option>
                    <option value="creatAtASC" {% if order == 'creatAtASC' %}selected{% endif %}>Publié moins récent</option>
                </select>
                <button class="btn btn-primary ml-2" type="submit">Trier</button>
            </div>
            <div class="form-group">
                <label for="limit">Afficher :</label>
                <select id="limit" name="limit" class="form-control">
                    {% for limit in limits %}
                        <option value="{{ limit }}" {% if limit == currentLimit %}selected{% endif %}>{{ limit }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary ml-2" type="submit">Appliquer</button>
            </div>
        </div>
    </form>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Artistes</th>
                <th>Edition</th>
                <th>Date de sortie</th>
                <th>Mise en ligne</th>
                <th>Pochette</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
                <tr>
                    <td>{{ album.name }}</td>
                    <td>{{ album.artist.getArtistFullnameInterface() }}</td>
                    <td>{{ album.edition }}</td>
                    <td>{{ album.releaseDate ? album.releaseDate|date('d-m-Y') : '' }}</td>
                    <td>{{ album.createdAt ? album.createdAt|date('d-m-Y') : '' }}</td>
                    <td><div class="img-fluid"><img src="{{asset(album.image) }}" alt="Pochette" style="width: 150px; height: 150px;" ></div></td>
                    <td>
                        <a class="btn btn-info me-1" href="{{ path('app_back_album_show', {'id': album.id}) }}">Voir plus</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun album disponible</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(albums) }}
    </div>

{% endblock %}
