{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container">
        <h1>Album</h1>

        <table class="table">
            <tbody>

             <tr>
                    <th></th>
                    <td><div class="img-fluid"><img src="{{asset(album.image) }}" alt="Pochette" style="width: 200px; height: 200px; border: 1px"></div>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ album.name }}</td>
                </tr>
                <tr>
                    <th>Artiste</th>
                    <td>{{ album.artist.fullname}}</td>
                </tr>
                <tr>
                    <th>Edition</th>
                    <td>{{ album.edition }}</td>
                </tr>
                <tr>
                    <th>Date de sortie</th>
                    <td>{{ album.releaseDate ? album.releaseDate|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Styles</th>
                    <td>
                        {% for style in album.style %}
                            {% if loop.index != 1 %},{% endif %}
                            {{ style.name }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Support</th>
                    <td>
                        {% for support in album.support %}
                            {% if loop.index !=1 %},{% endif %}
                            {{ support.name }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Mise en ligne</th>
                    <td>{{ album.createdAt ? album.createdAt|date('d-m-Y') : '' }}</td>
                </tr>
                <tr>
                    <th>Musiques</th>
                    <td>
                        <ul>
                            {% for song in album.songs %}
                                <li style="list-style-type: none">
                                    {{song.trackNb}} . {{song.title}} ({{song.duration}})
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>

<div class="d-flex justify-content-between" style="margin-bottom: 5rem; margin-top: 5rem">
    <a class="btn btn-secondary me-2" href="{{ path('app_back_album_index') }}"> <i class="bi bi-arrow-left"> </i>Retour a la liste</a>
    <div class="d-flex justify-content-end">
        <a class="btn btn-warning me-4" href="{{ path('app_back_album_edit', {'id': album.id}) }}">Modifier</a>
        {{ include('back/album/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
