{% extends 'base.html.twig' %}

{% block title %}liste Utilisateurs{% endblock %}

{% block body %}
<div class= text-aligne-between>
    <h1>Liste des utilisateurs</h1>
    <a href="{{ path('app_back_user_new') }}">Créer</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Mot de passe</th>
                <th>Roles</th>
                <th>Avatar</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.avatar }}</td>
                <td>
                    <a href="{{ path('app_back_user_show', {'id': user.id}) }}">voir plus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
